googleapis-common-protos==1.74.0
grpcio==1.80.0
importlib-metadata==8.7.1
opentelemetry-api==1.41.0
opentelemetry-exporter-otlp-proto-common==1.41.0
opentelemetry-exporter-otlp-proto-grpc==1.41.0
opentelemetry-proto==1.41.0
opentelemetry-sdk==1.41.0
opentelemetry-semantic-conventions==0.62b0
pip==24.2
protobuf==6.33.6
typing-extensions==4.15.0
zipp==3.23.1
